<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>nav}}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Page</h1>
                <p class="lead fw-normal text-white-50 mb-0"></p>
            </div>
        </div>
    </header>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="p-5 m-4">
                          <div class="row justify-content-center">
                            <div class="col-2">Name : {{name}}</div>
                            <div class="col-3">Address : {{address}}</div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
</body>
</html>